body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image:url(DISH.png);
    background-size: 100%,100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color:beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color:gray;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    color:orangered;
}

.login-container input {
    padding: 10px;
    color: #4e964e;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    background-color:orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #4cae4c;
}

.login-container p.message {
    margin-top: 10px;
    font-size: 0.9em;
    color: #a1a598;
}
a{
    text-decoration: none;
}
